<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

	<div id="hero-image-single" style="background-image: url('/images/ic-flight-16.jpg');">
		<h1 id="hero-title"><%= title %></h1>
	</div>

<div>
    <a href="https://plot.ly/~nihaalgeorge/26/" target="_blank" title="Total Cancellations by Route" style="display: block; text-align: center;"><img src="https://plot.ly/~nihaalgeorge/26.png" alt="Total Cancellations by Route" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="nihaalgeorge:26" src="https://plot.ly/embed.js" async></script>
</div>




	<div class="content-padding clearfix">

   
		<div class="poster-wrapper">
  		<img src="/images/ic-flight-13.jpg" class="img-responsive">
  	</div>

  	<div class="description-wrapper">
  		
  		<div class="description">
  			<h2 class="movie-header">Description</h2>
  			<p>kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkko</p>
  		</div>


  	</div>

	</div>



  <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>